div.columns {
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

div.rows {
    display: flex;
    flex-direction: column;
}

div.rows div.level.is-mobile p {
    font-weight: bold;
}

.tile {
    border-radius: 5px;
}
  
h1.column.title.has-text-centered.is-size-1, h1.column.title.has-text-centered {
    background-color: white;
    color: black;
}

h1.level-item, h1.title {
    color:black;
    font-weight: bold;
    font-size: x-large;
}

div.column.is-two-thirds, div.column.is-one-fifth, div.column.is-four-fifths {
    background-color: white;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
  
.container * {
    box-sizing: border-box;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.columns.box.has-background-info input {
    width: 500px;
}

.flex-outer li button, .flex-inner li button, div.column button {
    margin-left: auto;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    background:grey;
    color: white;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 5px;
}

p.menu-label {
    color: black;
    font-weight: bold;
    font-size: x-large;
}

.rows input {
    width: 200px;
}

label + input, p + input , label + input + button{
    margin-left: 10px;
}

a.home, a.categorical, a.create-listing, a.contact-us, a.about {
    color: black;
    font-weight: bold;
    font-size: large;
}

label.label.search {
    color: black;
    font-weight: bold;
}

h1.thicker{
    font-family: 'Big Shoulders Display', cursive;
    color: #2a2a2a;
}

p.thick, input, li{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

body > * {
    padding: 1%;
    margin: 0;
}

/* Categorical Search */
div.columns div.column.has-text-centered {
    background-color: white;
}

div.columns p.sub{
    font-weight: bold;
    color:black;
}


.main-descr {
    margin-left: 20px;
}

.note {
    font-size: medium;
    font-style: italic;
}

.room-property {
    margin-left: 50px;
}

/* Listing */
#appear-onclick {
    visibility: hidden;
}
